{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
		{{Homepage.name}}
{% endblock %} 
	
{% block body_block %}
	<h1>Rango says...</h1> 
	<div>
		hey there partner! <br />
		<strong>{{ boldmessage }}</strong>
	</div>
		
	<div>
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li>
				<a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	</div>
		
	<div>
		<a href="/rango/about/">About</a><br />
		<img src="{% static 'images/rango.jpg' %}"
			alt="Picture of Rango" />
	</div>
		
	<div>
		<a href="/rango/add_category/">Add a New Category</a><br />
	</div>
{% endblock %}